priority 50

snippet fn "function(){}" w
function(${1}){
    ${2}
}${3}
endsnippet

snippet f= "() => {}" w
(${1}) => {
    ${2}
}${3}
endsnippet

snippet class "class _ extends _ {}" w
class ${1:_}${2: extends ${3:_}} {

    constructor(${4}) {
        ${5:super(${6});
        }${7}
    }

}
endsnippet
